<a href="https://colab.research.google.com/github/neeyatiraisinghani/neeyati/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
s="MY NAME IS neeyati"
l=len(s)
for i in range(l-1,-1,-1):
  print(s[i],end="")

itayeen SI EMAN YM

In [12]:
s=input("")
print("even number=",s[0::2])
print("odd number=",s[1::2])

neeyati
even number= neai
odd number= eyt

In [17]:
s=input("")
l=len(s)
for i in range(l-1,-1,-1):
  print(s[i],end="")
  break
print("odd number",s[1::2])

neeyati
iodd number eyt

In [21]:
s=input("")
s.split()

my name is neeyati

['my', 'name', 'is', 'neeyati']